footer {
  background-color: #323232;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2.5rem 4rem 1.5rem 0.9rem;

  @include tablet {
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  }
  @include desktop {
    padding: 3rem 11.25rem;
  }
}

p,
address {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 200;
  font-style: normal;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.logo__appear {
  @include tablet {
    background-image: url("/sprint-one/assets/Logo/Logo-bandsite.png");
    background-repeat: no-repeat;
    height: 1.5rem;
    width: 7.5rem;
    display: flex;
  }
  @include desktop {
    background-image: url("/sprint-one/assets/Logo/Logo-bandsite.png");
    background-repeat: no-repeat;
    height: 1.5rem;
    width: 7.5rem;
    display: flex;
  }
}
.text-section__footer {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 76%;
  }
}
// three individual column sections
.footer__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
  }
}
.top-bottom__section {
  @include tablet {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
  }
  @include desktop {
    margin-bottom: 0.5rem;
    display: flex;
    width: 43.5%;
    justify-content: space-between;
  }
}
.footer__logo-box {
  @include desktop {
    display: flex;
    justify-self: flex-end;
  }
}
.icon {
  height: 1.5rem;

  @include desktop {
    height: 1.7rem;
    margin: 0 1rem;
  }
}

// header on top of footer section
.bottom__header {
  margin-bottom: 1rem;

  font-size: 1.5rem;
  line-height: 2rem;

  @include desktop {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

// horizontal box with icons inside
.icon__section {
  display: flex;
  width: 100%;
  height: 5rem;
  margin-bottom: -2rem;
  margin-left: -1rem;
  justify-content: space-around;
  @include tablet {
    width: 10rem;
    height: 1.5rem;
    margin: 0;
  }
  @include desktop {
    width: 10rem;
    height: 2rem;
    justify-content: center;

    margin: none;
  }
}
// space in between elements in footer
.separation {
  padding: 0.5rem 0;

  @include tablet {
    padding: 0.75rem 0;
  }
  @include desktop {
    padding: 0.75rem 0;
  }
}
// copyright at the bottom of footer
.copyright {
  margin: 1rem 0;
  @include desktop {
    margin-top: 1.75rem;
  }
}
.top-footer-section__connection {
  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
