footer {
  background-color: #323232;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2.5rem 4rem 1.5rem 0.9rem;

  @include tablet {
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  }
  @include desktop {
    padding: 3rem 11.25rem;
  }
}
.logo-appear {
  @include tablet {
    background-image: url("/sprint-one/assets/Logo/Logo-bandsite.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 120px;
    margin-left: 1rem;
  }
  @include desktop {
    background-image: url("/sprint-one/assets/Logo/Logo-bandsite.png");
    background-repeat: no-repeat;
    height: 1.5rem;
    width: 7.5rem;
    display: flex;
  }
}
.text-section__footer {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }
}
// three individual column sections
.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
  }
}
.top-bottom-section {
  @include tablet {
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  @include desktop {
    margin-bottom: 1rem;
    display: flex;
    width: 41%;
    justify-content: space-between;
  }
}
.footer-logo-box {
  @include desktop {
    display: flex;
    justify-self: flex-end;
  }
}

// header on top of footer section
.bottom-header {
  margin-bottom: 1rem;
}

// horizontal box with icons inside
.icon-section {
  display: flex;
  width: 50%;
  justify-content: space-around;
  @include tablet {
    width: 10rem;
    height: 1.5rem;
  }
  @include desktop {
    width: 10rem;
    height: 2rem;
    justify-content: space-between;
  }
}
// space in between elements in footer
.separation {
  padding: 1rem 0;

  @include desktop {
    padding: 20px 0;
  }
}
// copyright at the bottom of footer
.copyright {
  margin: 1rem 0;
  @include desktop {
    margin-top: 2.5rem;
  }
}
.top-footer-section-connection {
  @include desktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
