//  nav bar
.top-nav__bar {
  background-color: #323232;
  color: white;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  @include tablet {
    display: flex;
    flex-direction: row;
    height: 80px;
    padding-top: 0;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    height: 80px;
    padding-top: 0;
    padding-left: 11.25rem;
  }

  &-item {
    display: flex;
    padding-bottom: 12px;
    @include tablet {
      padding-bottom: 1.6rem;
    }
    @include desktop {
      padding-bottom: 1.6rem;
    }
  }
}
.top-nav__bar-heading {
  padding-top: 1rem;

  @include tablet {
    padding: 0;
    margin-right: 1rem;
  }
  @include desktop {
    padding: 0;
  }
}

// holds all three separate items in the nav bar (header-box, bio-box, and show-box)
.top-bar__item-container {
  display: flex;
  width: 100%;
  padding: 0%;
}

// applied to whichever page is active
.underlined {
  border-bottom: 4px white solid;
}
// box with logo inside
.header-box {
  display: flex;
  justify-content: center;
  width: 10rem;
  @include tablet {
    margin: 0 1.5rem;
  }
  @include desktop {
    justify-content: flex-start;
  }
}
// box with biography section item inside
.bio-box {
  display: flex;
  justify-content: center;
  width: 50%;
  bottom: 0%;
  padding-top: 11px;
  @include tablet {
    width: 12%;
    padding-top: 2rem;
    margin: 0 2rem;
  }
  @include desktop {
    width: 10%;
    padding-top: 2rem;
    margin-left: 3.5rem;
  }
}
// box with shows section item inside
.show-box {
  @extend .bio-box;
  color: gray;
  opacity: 60%;
}
// link selector
a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}
