.top-nav__bar {
  background-color: #323232;
  color: white;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.top-nav__bar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7px;
}

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-bar__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0%;
}

.underlined {
  border-bottom: 4px white solid;
}

.header-box, .bio-box, .show-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bio-box, .show-box {
  width: 50%;
  bottom: 0%;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

footer {
  background-color: #323232;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2.5rem 4rem 1.5rem 0.9rem;
}

.bottom-header {
  margin-bottom: 1rem;
}

.icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

* {
  margin: 0;
  padding: 0%;
}

.background-img {
  background-image: url("/sprint-one/assets/music-background.jpg");
  background-size: cover;
  height: 183px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.title-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
}

.about {
  background-color: white;
  margin-bottom: 2.5rem;
  padding: 0 1rem;
  color: #323232;
}

.about-header {
  margin: 2rem 1rem 1.5rem 1rem;
  color: #323232;
}

.about-img {
  background-size: cover;
  width: 100%;
  margin-bottom: 1.5rem;
}

figure {
  width: 100%;
  color: #323232;
  margin-bottom: 2.5rem;
}

.quote {
  margin-bottom: 2rem;
}

.paragraph-header {
  margin-bottom: 1.5rem;
}

.picture__layout-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem 0 1rem;
  background-color: lightgray;
}

.gallery-heading {
  margin: 2rem 0 1.5rem 0;
}

img {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=main.css.map */