.top-nav__bar {
  background-color: #323232;
  color: white;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 80px;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .top-nav__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 80px;
    padding-top: 0;
  }
}

.top-nav__bar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 12px;
}

.top-bar__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0%;
}

.underlined {
  border-bottom: 4px white solid;
}

.header-box, .bio-box, .show-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bio-box, .show-box {
  width: 50%;
  bottom: 0%;
  padding-top: 27px;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

footer {
  background-color: #323232;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2.5rem 4rem 1.5rem 0.9rem;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  footer {
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .logo-appear {
    background-image: url("/sprint-one/assets/Logo/Logo-bandsite.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 120px;
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .text-section__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .top-bottom-section {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.bottom-header {
  margin-bottom: 1rem;
}

.icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .icon-section {
    width: 20%;
  }
}

.separation {
  padding: 1rem 0;
}

.copyright {
  margin: 1rem 0;
}

* {
  margin: 0;
  padding: 0%;
}

body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background-img {
  background-image: url("/sprint-one/assets/zachary-smith-zorgErvL_Fs-unsplash.jpg");
  background-size: cover;
  height: 183px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .background-img {
    height: 400px;
    padding-left: 1.5rem;
  }
}

.title-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60%;
}

.about {
  background-color: white;
  margin-bottom: 2.5rem;
  padding: 0 1rem;
  color: #323232;
}

.about-header {
  margin: 2rem 1rem 1.5rem 1rem;
  color: #323232;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .about {
    padding: 0 1.5rem;
  }
}

.about-img {
  background-image: url("/sprint-one/assets/sam-moqadam-9sfPj0QzOEU-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 10rem;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .about-img {
    height: 362px;
  }
}

figure {
  width: 100%;
  color: #323232;
  margin-bottom: 2.5rem;
}

.quote {
  margin-bottom: 2rem;
}

.paragraph-header {
  margin-bottom: 1.5rem;
}

.picture__layout-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: lightgray;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .picture__layout-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2rem;
  }
}

.gallery-section {
  background-color: lightgray;
}

.gallery-heading {
  padding: 2rem 0 1.5rem 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .gallery-heading {
    padding-left: 1.5rem;
  }
}

.img-gallery {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .img-gallery {
    height: 126px;
    width: 224px;
    margin: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .article-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.paragraph {
  padding-left: 1.5rem;
}
/*# sourceMappingURL=main.css.map */