// partial call section
@import "mixins";
@import "nav-bar";
@import "footer";
@import "fonts";

// universal selectors
* {
  margin: 0;
  padding: 0%;
}
// body selector
body {
  background-color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Avenir Next";
  font-size: 1.5rem;
  line-height: 2rem;

  @include desktop {
    font-family: "Avenir Next";
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h2 {
  font-family: "Avenir Next";

  font-size: 1.5rem;
  line-height: 2rem;

  @include desktop {
    font-family: "Avenir Next";
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
// image right under nav-bar
.background__img {
  background-image: url("/sprint-one/assets/zachary-smith-zorgErvL_Fs-unsplash.jpg");
  background-size: cover;
  height: 183px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  padding-left: 1rem;

  @include tablet {
    height: 400px;
    padding-left: 1.5rem;
  }
  @include desktop {
    height: 670px;
    padding-left: 180px;
  }
}

// text box inside header image
.title-box {
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 60%;
}

.title {
  font-family: "Avenir Next";
  font-size: 1.5rem;
  line-height: 2rem;

  @include desktop {
    font-family: "Avenir Next";
    font-size: 60px;
    line-height: 68px;
  }
}

// whole middle section
.about {
  background-color: #fafafa;

  padding: 0 1rem 2.5rem 1rem;
  color: #323232;
  &-header {
    margin: 2rem 1rem 1.5rem 0;
    color: #323232;
  }

  @include tablet {
    padding: 0 1.5rem 2.5rem 1.5rem;
  }
  @include desktop {
    display: flex;

    flex-direction: column;
    padding: 3rem 17rem;
  }
}

// image at top of about section
.about__img {
  background-image: url("/sprint-one/assets/sam-moqadam-9sfPj0QzOEU-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 10rem;
  margin-bottom: 1.5rem;

  @include tablet {
    height: 362px;
  }
  @include desktop {
    height: 450px;
    width: 896px;
  }
}

.about__header {
  margin: 2rem 0 1.5rem 0;
  @include tablet {
    margin: 2rem 0;
  }
  @include desktop {
    margin-bottom: 3rem;
  }
}

// whole text/article section
figure {
  width: 100%;
  color: #323232;
  margin-bottom: 2.5rem;
}

// quote at top of about section
.quote {
  margin-bottom: 2rem;
}

// article h1
.paragraph__header {
  margin-bottom: 1.5rem;
  @include desktop {
    margin-bottom: 2rem;
  }
}

// grid of pictures
.picture__layout-section {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    padding-bottom: 2rem;
  }
  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    width: 85vw;
  }
}
.gallery__section {
  background-color: #e1e1e1;
  @include desktop {
    padding: 0 11.25rem 2.5rem 11.25rem;
  }
}
//  heading on top of gallery
.gallery__heading {
  padding: 2rem 0 1.5rem 1rem;
  color: #323232;

  @include tablet {
    padding-left: 1.5rem;
  }
  @include desktop {
    padding: 3rem 0 4rem 0;
  }
}

// each image without a class- only the grid pictures
.gallery__img {
  margin-bottom: 1rem;

  @include tablet {
    height: 126px;
    width: 224px;
    margin: 10px;
  }
  @include desktop {
    height: 193px;
    width: 344px;
    margin: 0 1.5rem 1.5rem 0;
  }
}

.article__section {
  @include tablet {
    display: flex;
    flex-direction: row;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}
.paragraph {
  @include tablet {
    padding-left: 1.5rem;
  }
  @include desktop {
    padding-left: 2.5rem;
  }
}
