// partial call section
@import "mixins";
@import "nav-bar";
@import "footer";
@import "fonts";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// universal selectors
* {
  margin: 0;
  padding: 0%;
  font-family: "Avenir Next", "Roboto", sans-serif;
}
// body selector
body {
  background-color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  @include desktop {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h2 {
  font-size: 0.875rem;
  line-height: 1.125rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @include desktop {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

h4 {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 300;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
li {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 600;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
// image right under nav-bar
.background__img {
  background-image: url("/sprint-one/assets/zachary-smith-zorgErvL_Fs-unsplash.jpg");
  background-size: cover;
  height: 11.438rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;

  @include tablet {
    height: 25rem;
    padding-left: 1.5rem;
  }
  @include desktop {
    height: 41.875rem;
    padding-left: 11.25rem;
  }
}

// text box inside header image
.title-box {
  height: 100%;
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;

  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }

  @include desktop {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

// whole middle section
.about {
  background-color: #fafafa;

  padding: 0 1rem 2.5rem 1rem;
  color: #323232;
  &-header {
    margin: 2rem 1rem 1.5rem 0;
    color: #323232;
  }

  @include tablet {
    padding: 0 1.5rem 2.5rem 1.5rem;
  }
  @include desktop {
    display: flex;

    flex-direction: column;
    padding: 3rem 17rem;
  }
}

// image at top of about section
.about__img {
  background-image: url("/sprint-one/assets/sam-moqadam-9sfPj0QzOEU-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 10rem;
  margin-bottom: 1.5rem;

  @include tablet {
    height: 22.625rem;
  }
  @include desktop {
    height: 28.125rem;
    width: 56rem;
    margin-bottom: 3rem;
  }
}

.about__header {
  margin: 2rem 0 1.5rem 0;
  @include tablet {
    margin: 2rem 0;
  }

  @include desktop {
    margin-bottom: 3rem;
    margin-top: 0;
    margin-left: -5.75rem;
  }
}

// whole text/article section
figure {
  width: 100%;
  color: #323232;
  margin-bottom: 2.5rem;
}

// quote at top of about section
.quote {
  margin-bottom: 2rem;
}

// article h1
.paragraph__header {
  margin-bottom: 1.5rem;
  @include desktop {
    margin-bottom: 2rem;
  }
}

// grid of pictures
.picture__layout-section {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    padding-bottom: 2rem;
  }
  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    width: 85vw;
  }
}
.gallery__section {
  background-color: #e1e1e1;
  @include desktop {
    padding: 0 11.25rem 2.5rem 11.25rem;
  }
}
//  heading on top of gallery
.gallery__heading {
  padding: 2rem 0 1.5rem 1rem;
  color: #323232;

  @include tablet {
    padding-left: 1.5rem;
  }
  @include desktop {
    padding: 3rem 0 4rem 0;
  }
}

// each image without a class- only the grid pictures
.gallery__img {
  margin-bottom: 1rem;

  @include tablet {
    height: 7.875rem;
    width: 14rem;
    margin: 0.625rem;
  }
  @include desktop {
    height: 12.063rem;
    width: 21.5rem;
    margin: 0 1.5rem 1.5rem 0;
  }
}

.article__section {
  @include tablet {
    display: flex;
    flex-direction: row;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}
.paragraph {
  @include tablet {
    padding-left: 1.5rem;
  }
  @include desktop {
    padding-left: 2.5rem;
  }
}
